<?xml version="1.0" encoding="utf-8"?>
  <configuration>
    <configSections>
      <section name="msbuildToolsets" type="Microsoft.Build.Evaluation.ToolsetConfigurationSection, Microsoft.Build, Version=15.9.20.62856" />
    </configSections>
    <msbuildToolsets default="Current">
      <toolset toolsVersion="Current">
        <property name="MSBuildToolsPath" value="$([MSBuild]::GetCurrentToolsDirectory())" />
        <property name="MSBuildExtensionsPath" value="$([MSBuild]::GetCurrentToolsDirectory())/../.." />
        <property name="RoslynTargetsPath" value="$([MSBuild]::GetCurrentToolsDirectory())/Roslyn" />
        <property name="CscToolPath" value="/usr/lib/mono/4.5" />
      </toolset>
      <toolset toolsVersion="15.9">
        <property name="MSBuildToolsPath" value="$([MSBuild]::GetCurrentToolsDirectory())" />
        <property name="MSBuildExtensionsPath" value="$([MSBuild]::GetCurrentToolsDirectory())/../.." />
        <property name="RoslynTargetsPath" value="$([MSBuild]::GetCurrentToolsDirectory())/Roslyn" />
        <property name="CscToolPath" value="/usr/lib/mono/4.5" />
      </toolset>
      <toolset toolsVersion="15.0">
        <property name="MSBuildToolsPath" value="$([MSBuild]::GetCurrentToolsDirectory())" />
        <property name="MSBuildExtensionsPath" value="$([MSBuild]::GetCurrentToolsDirectory())/../.." />
        <property name="RoslynTargetsPath" value="$([MSBuild]::GetCurrentToolsDirectory())/Roslyn" />
        <property name="CscToolPath" value="/usr/lib/mono/4.5" />
      </toolset>
    </msbuildToolsets>
</configuration>
